<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Weave Name"/></h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="details">Details</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  <section class="sheet-body">
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor enrichedDescription target="system.description.value" button=true owner=owner editable=editable}}
    </div>

    <div class="tab details" data-group="primary" data-tab="details">
      <div class="form-group">
        <label>Weave Type</label>
        <select name="system.weaveType">
          <option value="simple" {{#if (eq system.weaveType "simple")}}selected{{/if}}>Simple</option>
          <option value="complex" {{#if (eq system.weaveType "complex")}}selected{{/if}}>Complex</option>
          <option value="intricate" {{#if (eq system.weaveType "intricate")}}selected{{/if}}>Intricate</option>
        </select>
      </div>

      <div class="form-group">
        <label>Action Cost</label>
        <input type="number" name="system.actionCost" value="{{system.actionCost}}" data-dtype="Number" min="0" />
      </div>

      <h3>Energy Costs</h3>
      <div class="form-group-row">
        <div class="form-group">
          <label>Primary Type</label>
          <select name="system.energyCost.primary.type">
            <option value="variable-elemental" {{#if (eq system.energyCost.primary.type "variable-elemental")}}selected{{/if}}>Variable Elemental</option>
            <option value="earth" {{#if (eq system.energyCost.primary.type "earth")}}selected{{/if}}>Earth</option>
            <option value="air" {{#if (eq system.energyCost.primary.type "air")}}selected{{/if}}>Air</option>
            <option value="fire" {{#if (eq system.energyCost.primary.type "fire")}}selected{{/if}}>Fire</option>
            <option value="water" {{#if (eq system.energyCost.primary.type "water")}}selected{{/if}}>Water</option>
            <option value="positive" {{#if (eq system.energyCost.primary.type "positive")}}selected{{/if}}>Positive</option>
            <option value="negative" {{#if (eq system.energyCost.primary.type "negative")}}selected{{/if}}>Negative</option>
            <option value="time" {{#if (eq system.energyCost.primary.type "time")}}selected{{/if}}>Time</option>
            <option value="space" {{#if (eq system.energyCost.primary.type "space")}}selected{{/if}}>Space</option>
          </select>
        </div>
        <div class="form-group">
          <label>Primary Cost</label>
          <input type="number" name="system.energyCost.primary.cost" value="{{system.energyCost.primary.cost}}" data-dtype="Number" min="0" />
        </div>
      </div>

      <div class="form-group-row">
        <div class="form-group">
          <label>Supporting Type</label>
          <select name="system.energyCost.supporting.type">
            <option value="" {{#unless system.energyCost.supporting.type}}selected{{/unless}}>None</option>
            <option value="earth" {{#if (eq system.energyCost.supporting.type "earth")}}selected{{/if}}>Earth</option>
            <option value="air" {{#if (eq system.energyCost.supporting.type "air")}}selected{{/if}}>Air</option>
            <option value="fire" {{#if (eq system.energyCost.supporting.type "fire")}}selected{{/if}}>Fire</option>
            <option value="water" {{#if (eq system.energyCost.supporting.type "water")}}selected{{/if}}>Water</option>
            <option value="positive" {{#if (eq system.energyCost.supporting.type "positive")}}selected{{/if}}>Positive</option>
            <option value="negative" {{#if (eq system.energyCost.supporting.type "negative")}}selected{{/if}}>Negative</option>
            <option value="time" {{#if (eq system.energyCost.supporting.type "time")}}selected{{/if}}>Time</option>
            <option value="space" {{#if (eq system.energyCost.supporting.type "space")}}selected{{/if}}>Space</option>
          </select>
        </div>
        <div class="form-group">
          <label>Supporting Cost</label>
          <input type="number" name="system.energyCost.supporting.cost" value="{{system.energyCost.supporting.cost}}" data-dtype="Number" min="0" />
        </div>
      </div>

      <h3>Targeting</h3>
      <div class="form-group">
        <label>Range</label>
        <input type="text" name="system.range" value="{{system.range}}" placeholder="e.g., Touch, Close 30 ft., Self" />
      </div>

      <div class="form-group">
        <label>Target Category</label>
        <select name="system.target">
          <option value="" {{#unless system.target}}selected{{/unless}}>Unspecified</option>
          <option value="single" {{#if (eq system.target "single")}}selected{{/if}}>Single</option>
          <option value="multiple" {{#if (eq system.target "multiple")}}selected{{/if}}>Multiple</option>
          <option value="area" {{#if (eq system.target "area")}}selected{{/if}}>Area</option>
          <option value="cone" {{#if (eq system.target "cone")}}selected{{/if}}>Cone</option>
          <option value="line" {{#if (eq system.target "line")}}selected{{/if}}>Line</option>
          <option value="sphere" {{#if (eq system.target "sphere")}}selected{{/if}}>Sphere/Burst</option>
        </select>
      </div>

      <div class="form-group">
        <label>Duration</label>
        <input type="text" name="system.duration" value="{{system.duration}}" placeholder="e.g., Instantaneous, 1 minute, 1 hour" />
      </div>

      <div class="form-group">
        <label>Saving Throw</label>
        <select name="system.savingThrow">
          <option value="none" {{#if (eq system.savingThrow "none")}}selected{{/if}}>None</option>
          <option value="fortitude" {{#if (eq system.savingThrow "fortitude")}}selected{{/if}}>Fortitude</option>
          <option value="reflex" {{#if (eq system.savingThrow "reflex")}}selected{{/if}}>Reflex</option>
          <option value="will" {{#if (eq system.savingThrow "will")}}selected{{/if}}>Will</option>
        </select>
      </div>

      <div class="form-group">
        <label>Delivery Method</label>
        <select name="system.deliveryMethod">
          <option value="attack" {{#if (eq system.deliveryMethod "attack")}}selected{{/if}}>Attack</option>
          <option value="save" {{#if (eq system.deliveryMethod "save")}}selected{{/if}}>Save</option>
          <option value="automatic" {{#if (eq system.deliveryMethod "automatic")}}selected{{/if}}>Automatic</option>
        </select>
      </div>

      <div class="form-group">
        <label>Weaving Roll</label>
        <input type="text" name="system.weavingRoll" value="{{system.weavingRoll}}" placeholder="e.g., Fire Potential + Fire Mastery" />
      </div>

      <div class="form-group">
        <label>Targeting Roll</label>
        <input type="text" name="system.targetingRoll" value="{{system.targetingRoll}}" placeholder="e.g., Casting Stat + Fire Mastery" />
      </div>

      <div class="form-group">
        <label>Tags</label>
        <input type="text" name="system.tags" value="{{system.tags}}" placeholder="Comma-separated tags" />
      </div>
    </div>

    <div class="tab effects" data-group="primary" data-tab="effects">
      <div class="form-group">
        <label>Primary Effect Type</label>
        <select name="system.effectType">
          <option value="damage" {{#if (eq system.effectType "damage")}}selected{{/if}}>Damage</option>
          <option value="healing" {{#if (eq system.effectType "healing")}}selected{{/if}}>Healing</option>
          <option value="buff" {{#if (eq system.effectType "buff")}}selected{{/if}}>Buff</option>
          <option value="debuff" {{#if (eq system.effectType "debuff")}}selected{{/if}}>Debuff</option>
          <option value="control" {{#if (eq system.effectType "control")}}selected{{/if}}>Control</option>
          <option value="summon" {{#if (eq system.effectType "summon")}}selected{{/if}}>Summon</option>
          <option value="transformation" {{#if (eq system.effectType "transformation")}}selected{{/if}}>Transformation</option>
          <option value="utility" {{#if (eq system.effectType "utility")}}selected{{/if}}>Utility</option>
          <option value="protection" {{#if (eq system.effectType "protection")}}selected{{/if}}>Protection</option>
          <option value="divination" {{#if (eq system.effectType "divination")}}selected{{/if}}>Divination</option>
        </select>
      </div>

      <div class="form-group">
        <label>Effect</label>
        <textarea name="system.effect" rows="5" placeholder="Mechanical effect summary">{{system.effect}}</textarea>
      </div>

      {{#if (eq system.effectType "damage")}}
      <h3>Damage</h3>
      <div class="form-group-row">
        <div class="form-group">
          <label>Base Damage</label>
          <input type="number" name="system.damage.base" value="{{system.damage.base}}" data-dtype="Number" min="0" />
        </div>
        <div class="form-group">
          <label>Damage Type</label>
          <select name="system.damage.type">
            <option value="" {{#unless system.damage.type}}selected{{/unless}}>Unspecified</option>
            <option value="fire" {{#if (eq system.damage.type "fire")}}selected{{/if}}>Fire</option>
            <option value="cold" {{#if (eq system.damage.type "cold")}}selected{{/if}}>Cold</option>
            <option value="lightning" {{#if (eq system.damage.type "lightning")}}selected{{/if}}>Lightning</option>
            <option value="acid" {{#if (eq system.damage.type "acid")}}selected{{/if}}>Acid</option>
            <option value="force" {{#if (eq system.damage.type "force")}}selected{{/if}}>Force</option>
            <option value="positive" {{#if (eq system.damage.type "positive")}}selected{{/if}}>Positive</option>
            <option value="negative" {{#if (eq system.damage.type "negative")}}selected{{/if}}>Negative</option>
            <option value="necrotic" {{#if (eq system.damage.type "necrotic")}}selected{{/if}}>Necrotic</option>
            <option value="radiant" {{#if (eq system.damage.type "radiant")}}selected{{/if}}>Radiant</option>
            <option value="psychic" {{#if (eq system.damage.type "psychic")}}selected{{/if}}>Psychic</option>
            <option value="poison" {{#if (eq system.damage.type "poison")}}selected{{/if}}>Poison</option>
            <option value="thunder" {{#if (eq system.damage.type "thunder")}}selected{{/if}}>Thunder</option>
            <option value="bludgeoning" {{#if (eq system.damage.type "bludgeoning")}}selected{{/if}}>Bludgeoning</option>
            <option value="piercing" {{#if (eq system.damage.type "piercing")}}selected{{/if}}>Piercing</option>
            <option value="slashing" {{#if (eq system.damage.type "slashing")}}selected{{/if}}>Slashing</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>DR Interaction</label>
        <select name="system.damage.drInteraction">
          <option value="" {{#unless system.damage.drInteraction}}selected{{/unless}}>Default</option>
          <option value="half" {{#if (eq system.damage.drInteraction "half")}}selected{{/if}}>Half DR</option>
          <option value="full" {{#if (eq system.damage.drInteraction "full")}}selected{{/if}}>Full DR</option>
          <option value="ignore" {{#if (eq system.damage.drInteraction "ignore")}}selected{{/if}}>Ignore DR</option>
        </select>
      </div>
      {{/if}}

      <div class="form-group">
        <label>Targeting Success Scaling</label>
        <textarea name="system.targetingSuccessScaling" rows="5" placeholder="e.g., 0 = fail, 1 = half, 2 = full, 3 = enhanced">{{system.targetingSuccessScaling}}</textarea>
      </div>

      <h3>Applied Effects</h3>
      <div class="form-group">
        <button type="button" data-action="addWeaveEffect">Add Applied Effect</button>
      </div>
      {{#if weaveAppliesEffects.length}}
        {{#each weaveAppliesEffects}}
        <div class="form-group-row">
          <div class="form-group">
            <label>Effect ID</label>
            <input type="text" name="system.appliesEffects.{{index}}.effectId" value="{{effectId}}" placeholder="e.g., frightened" />
          </div>
          <div class="form-group">
            <label>Params</label>
            <input type="text" name="system.appliesEffects.{{index}}.paramsText" value="{{paramsText}}" placeholder="key=value, other=2" />
          </div>
          <div class="form-group" style="align-self: end;">
            <button type="button" data-action="removeWeaveEffect" data-index="{{index}}">Remove</button>
          </div>
        </div>
        {{/each}}
      {{else}}
      <p><em>No applied effects configured.</em></p>
      {{/if}}
    </div>
  </section>
</form>
